@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
body{
    background-color: #4D869C;
}
/* heading */
h1{
    font-size: 5rem;
    color: #CDE8E5;
    text-align: center;
    background-color: #7AB2B2;
    font-weight: 400;
    height: 8rem;
    line-height: 8rem;
}
/* Chooices container */
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice{
    height: 200px;
    width: 200px;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.choice:hover{
    opacity: 70%;
    box-shadow: 0px 0px 10px black;
}
img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
/* Score-board */
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1.5rem;
    color: #FFCAD4;
}
.user, .comp{
    text-align: center;
}
#user-score, #comp-score{
    font-size: 3rem;
}

/* MSG */
.msg-container{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    color: #EEF7FF;
    margin-top: 2rem;
}
#msg{
    background-color: #333A73;
    display: inline-block;
    border-radius: 15px;
    padding: 0px 20px;
}

@media(min-width: 390px) and (max-width: 449px){
    h1{
        font-size: 3rem;
        height: 5rem;
        line-height: 5rem;
    }
    .choices{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .choice{
        height: 120px;
        width: 120px;
        margin: 10px;
    }
    img{
        height: 120px;
        width: 120px;
    }
    .msg-container{
        font-size: 1.5rem;
        margin: 2rem 1rem 0rem 1rem;
    }
    #msg{
        padding: 0px 10px;
    }
}
@media(min-width: 300px) and (max-width: 389px){
    h1{
        font-size: 2.5rem;
        height: 4rem;
        line-height: 4rem;
    }
    .choices{
        flex-direction: column;
        margin-top: 1rem;
    }
    .choice{
        height: 100px;
        width: 100px;
        margin: 10px;
    }
    img{
        height: 95px;
        width: 95px;
    }
    .msg-container{
        font-size: 1.5rem;
        margin: 2rem 1rem 0rem 1rem;
    }
    #msg{
        padding: 0px 10px;
    }
}